 <div ng-app="app">
  <div ng-controller="wishlistCtrl" ng-init="setup()">
     <!-- Page title -->
      <div class="page-title">
         <div class="container">
            <h2><i class="fa fa-desktop color"></i> Wishlist</small></h2>
            <hr />
         </div>
      </div>
      <!-- Page title -->
      
      <!-- Page content -->
      
      <div class="account-content">
         <div class="container">
            
            <div class="row">
               <div class="col-md-3">
                  <div class="sidey">
                     <ul class="nav">
                          <li><a href="/wishes">Wish List</a></li>
                      </ul>
                  </div>
               </div>
    <div class="col-md-9">
    <h3><i class="fa fa-user color"></i> &nbsp;Games You Wished For:</h3>
               <p>Drag and drop the table rows to change the priority.</p>
    <table class="table table-striped ">
      <thead>
        <th>Priority</th>
        <!-- <th>Index</th> -->
        <th>Name</th>
        <th>Desired Price</th>
        <th>Delete?</th>
      </thead>
      <tbody ui:sortable="sortableOptions" ng-model="wishes">
      <tr ng-model="wishes" ng-repeat="wish in wishes" style="cursor: move;">
        <!-- <td>{{wish.priority}}</td> -->
        <td> {{$index + 1}} </td>
        <td><a href="/products/{{wish.product_id}}">{{wish.product_name}}</a></td>
        <td>{{wish.price | currency:"$"}}</td>
        <td><a href="#" ng-click="deleteGame(wish.id, $index)">Delete</a></td>
      </tr>
      </tbody>
    </table>

    <button ng-click="updatePriority()">Save Changes</button>

    </div>
              
            
         </div>
      </div>
     
      
 </div>
  </div>
</div>
