<h2>Hello!</h2>
<p>A game on your wishlist is on sale!</p>
<p><%= @game %> is on sale for <%= number_to_currency(@deal.price) %>. You can click <a href="<%= @deal.url %>">here</a> to buy the game.</p>
<p>Cheers,<br>
  BrokeGamer Admin
</p>