
 
     
      <!-- Page title -->
      <div class="page-title">
         <div class="container">
            <h2><i class="fa fa-desktop color"></i> Games <small>Subtext for header</small></h2>
            <hr />
         </div>
      </div>
      <!-- Page title -->
      
      <!-- Page content -->
      
      <div class="shop-items">
         <div class="container">
            
            <div class="row">
               
               <div class="col-md-9 col-md-push-3">
               
                   <!-- Breadcrumb -->
                 <ul class="breadcrumb">
                   <li><a href="index.html">Home</a> <span class="divider"></span></li>
                   <li><a href="items.html">Smartphone</a> <span class="divider"></span></li>
                   <li class="active">Apple</li>
                 </ul>
               
                 <!-- Items List starts -->

                     <div class="row">
                        <!-- Item #1 -->
                        <div class="col-md-4 col-sm-6 col-xs-12">
                          <div class="item">
                            <!-- Use the below link to put HOT icon -->
                            <div class="item-icon"><span>HOT</span></div>
                            <!-- Item image -->
                            <div class="item-image">
                              <a href="single-item.html"><img src="img/items/2.png" alt="" class="img-responsive"/></a>
                            </div>
                            <!-- Item details -->
                            <div class="item-details">
                              <!-- Name -->
                              <h5><a href="single-item.html">HTC One V</a></h5>
                              <div class="clearfix"></div>
                              <!-- Para. Note more than 2 lines. -->
                              <p>Something about the product goes here. Not More than 2 lines.</p>
                              <hr />
                              <!-- Price -->
                              <div class="item-price pull-left">$360</div>
                              <!-- Add to cart -->
                              <div class="pull-right"><a href="#" class="btn btn-danger btn-sm">Add to Cart</a></div>
                              <div class="clearfix"></div>
                            </div>
                          </div>
                        </div>

                        <!-- Item #2 -->
                        <div class="col-md-4 col-sm-6 col-xs-12">
                          <div class="item">
                            <!-- Item image -->
                            <div class="item-image">
                              <a href="single-item.html"><img src="img/items/3.png" alt=""  class="img-responsive"/></a>
                            </div>
                            <!-- Item details -->
                            <div class="item-details">
                              <!-- Name -->
                              <h5><a href="single-item.html">Dell One V</a></h5>
                              <!-- Para. Note more than 2 lines. -->
                              <p>Something about the product goes here. Not More than 2 lines.</p>
                              <hr />
                              <!-- Price -->
                              <div class="item-price pull-left">$264</div>
                              <!-- Add to cart -->
                              <div class="pull-right"><a href="#" class="btn btn-danger btn-sm">Add to Cart</a></div>
                              <div class="clearfix"></div>
                            </div>
                          </div>
                        </div>  

                        <div class="col-md-4 col-sm-6 col-xs-12">
                          <div class="item">
                            <!-- Item image -->
                            <div class="item-image">
                              <a href="single-item.html"><img src="img/items/4.png" alt="" class="img-responsive" /></a>
                            </div>
                            <!-- Item details -->
                            <div class="item-details">
                              <!-- Name -->
                              <h5><a href="single-item.html">Cannon One V</a></h5>
                              <!-- Para. Note more than 2 lines. -->
                              <p>Something about the product goes here. Not More than 2 lines.</p>
                              <hr />
                              <!-- Price -->
                              <div class="item-price pull-left">$160</div>
                              <!-- Add to cart -->
                              <div class="pull-right"><a href="#" class="btn btn-danger btn-sm">Add to Cart</a></div>
                              <div class="clearfix"></div>
                            </div>
                          </div>
                        </div>

                     </div>
                     
                     <div class="row">
           
                        <div class="col-md-4 col-sm-6 col-xs-12">
                          <div class="item">

                            <!-- Item image -->
                            <div class="item-image">
                              <a href="single-item.html"><img src="img/items/5.png" alt=""  class="img-responsive"/></a>
                            </div>
                            <!-- Item details -->
                            <div class="item-details">
                              <!-- Name -->
                              <h5><a href="single-item.html">Samsung One V</a></h5>
                              <!-- Para. Note more than 2 lines. -->
                              <p>Something about the product goes here. Not More than 2 lines.</p>
                              <hr />
                              <!-- Price -->
                              <div class="item-price pull-left">$300</div>
                              <!-- Add to cart -->
                              <div class="pull-right"><a href="#" class="btn btn-danger btn-sm">Add to Cart</a></div>
                              <div class="clearfix"></div>
                            </div>
                          </div>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-12">
                          <div class="item">
                           <div class="item-icon"><span>HOT</span></div>
                            <!-- Item image -->
                            <div class="item-image">
                              <a href="single-item.html"><img src="img/items/6.png" alt=""  class="img-responsive"/></a>
                            </div>
                            <!-- Item details -->
                            <div class="item-details">
                              <!-- Name -->
                              <h5><a href="single-item.html">Micromax One V</a></h5>
                              <!-- Para. Note more than 2 lines. -->
                              <p>Something about the product goes here. Not More than 2 lines.</p>
                              <hr />
                              <!-- Price -->
                              <div class="item-price pull-left">$240</div>
                              <!-- Add to cart -->
                              <div class="pull-right"><a href="#" class="btn btn-danger btn-sm">Add to Cart</a></div>
                              <div class="clearfix"></div>
                            </div>
                          </div>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-12">
                          <div class="item">
                            <!-- Item image -->
                            <div class="item-image">
                              <a href="single-item.html"><img src="img/items/7.png" alt=""  class="img-responsive"/></a>
                            </div>
                            <!-- Item details -->
                            <div class="item-details">
                              <!-- Name -->
                              <h5><a href="single-item.html">Nokia One V</a></h5>
                              <!-- Para. Note more than 2 lines. -->
                              <p>Something about the product goes here. Not More than 2 lines.</p>
                              <hr />
                              <!-- Price -->
                              <div class="item-price pull-left">$50</div>
                              <!-- Add to cart -->
                              <div class="pull-right"><a href="#" class="btn btn-danger btn-sm">Add to Cart</a></div>
                              <div class="clearfix"></div>
                            </div>
                          </div>
                        </div>

                      </div>
                      
                      <div class="row">
                        <div class="col-md-4 col-sm-6 col-xs-12">
                          <div class="item">

                            <!-- Item image -->
                            <div class="item-image">
                              <a href="single-item.html"><img src="img/items/8.png" alt=""  class="img-responsive"/></a>
                            </div>
                            <!-- Item details -->
                            <div class="item-details">
                              <!-- Name -->
                              <h5><a href="single-item.html">Samsung One V</a></h5>
                              <!-- Para. Note more than 2 lines. -->
                              <p>Something about the product goes here. Not More than 2 lines.</p>
                              <hr />
                              <!-- Price -->
                              <div class="item-price pull-left">$300</div>
                              <!-- Add to cart -->
                              <div class="pull-right"><a href="#" class="btn btn-danger btn-sm">Add to Cart</a></div>
                              <div class="clearfix"></div>
                            </div>
                          </div>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-12">
                          <div class="item">
                           <div class="item-icon"><span>HOT</span></div>
                            <!-- Item image -->
                            <div class="item-image">
                              <a href="single-item.html"><img src="img/items/9.png" alt=""  class="img-responsive"/></a>
                            </div>
                            <!-- Item details -->
                            <div class="item-details">
                              <!-- Name -->
                              <h5><a href="single-item.html">Micromax One V</a></h5>
                              <!-- Para. Note more than 2 lines. -->
                              <p>Something about the product goes here. Not More than 2 lines.</p>
                              <hr />
                              <!-- Price -->
                              <div class="item-price pull-left">$240</div>
                              <!-- Add to cart -->
                              <div class="pull-right"><a href="#" class="btn btn-danger btn-sm">Add to Cart</a></div>
                              <div class="clearfix"></div>
                            </div>
                          </div>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-12">
                          <div class="item">
                            <!-- Item image -->
                            <div class="item-image">
                              <a href="single-item.html"><img src="img/items/10.png" alt=""  class="img-responsive"/></a>
                            </div>
                            <!-- Item details -->
                            <div class="item-details">
                              <!-- Name -->
                              <h5><a href="single-item.html">Nokia One V</a></h5>
                              <!-- Para. Note more than 2 lines. -->
                              <p>Something about the product goes here. Not More than 2 lines.</p>
                              <hr />
                              <!-- Price -->
                              <div class="item-price pull-left">$50</div>
                              <!-- Add to cart -->
                              <div class="pull-right"><a href="#" class="btn btn-danger btn-sm">Add to Cart</a></div>
                              <div class="clearfix"></div>
                            </div>
                          </div>
                        </div>

                      </div>

                  <!-- Items List ends -->
                  
                  
                     <div class="row">
                        <div class="col-md-12">
                                    <!-- Pagination -->
                                    <ul class="pagination">
                    <li class="disabled"><a href="#">&laquo;</a></li>
                    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                                      <li><a href="#">2</a></li>
                                      <li><a href="#">3</a></li>
                                      <li><a href="#">4</a></li>
                                      <li><a href="#">5</a></li>
                                      <li><a href="#">&raquo;</a></li>
                                    </ul> 
                        </div>
                     </div>
               
               </div>
               
               
               <div class="col-md-3 col-md-pull-9">
                  <div class="sidey">
                     <ul class="nav">
                         <li><a href="index.html"><i class="fa fa-home"></i> &nbsp;Home</a>
                         <li><a href="#"><i class="fa fa-mobile-phone"></i> &nbsp;Smartphones</a>
                             <ul>
                                 <li><a href="items.html">Apple</a></li>
                                 <li><a href="items.html">Samsung</a></li>
                                 <li><a href="items.html">Motorola</a></li>
                                 <li><a href="items.html">Nokia</a></li>
                             </ul>
                         </li>
                         <li><a href="#"><i class="fa fa-laptop"></i> &nbsp;Laptops</a>
                             <ul>
                                 <li><a href="items.html">Apple</a></li>
                                 <li><a href="items.html">Samsung</a></li>
                                 <li><a href="items.html">Motorola</a></li>
                                 <li><a href="items.html">Nokia</a></li>
                             </ul>
                         </li>
                         <li><a href="#"><i class="fa fa-briefcase"></i> &nbsp;Office Items</a>
                             <ul>
                                 <li><a href="items.html">Apple</a></li>
                                 <li><a href="items.html">Samsung</a></li>
                                 <li><a href="items.html">Motorola</a></li>
                                 <li><a href="items.html">Nokia</a></li>
                             </ul>
                         </li>
                         <li><a href="#"><i class="fa fa-camera"></i> &nbsp;Camera</a>
                             <ul>
                                 <li><a href="items.html">Apple</a></li>
                                 <li><a href="items.html">Samsung</a></li>
                                 <li><a href="items.html">Motorola</a></li>
                                 <li><a href="items.html">Nokia</a></li>
                             </ul>
                         </li>
                     </ul>
                  </div>
                  
                  <!-- Sidebar items (featured items)-->

                   <div class="sidebar-items">

                     <h5>Featured Items</h5>

                     <!-- Item #1 -->
                     <div class="sitem">
                       <div class="onethree-left">
                         <!-- Image -->
                         <a href="single-item.html"><img src="img/items/2.png" alt="" class="img-responsive"/></a>
                       </div>
                       <div class="onethree-right">
                         <!-- Title -->
                         <a href="single-item.html">HTC One V</a>
                         <!-- Para -->
                         <p>Aenean ullamcorper justo tincidunt justo aliquet.</p>
                         <!-- Price -->
                         <p class="bold">$199</p>
                       </div>
                       <div class="clearfix"></div>
                     </div>

                     <div class="sitem">
                       <div class="onethree-left">
                         <a href="single-item.html"><img src="img/items/3.png" alt="" class="img-responsive"/></a>
                       </div>
                       <div class="onethree-right">
                         <a href="single-item.html">Sony One V</a>
                         <p>Aenean ullamcorper justo tincidunt justo aliquet.</p>
                         <p class="bold">$399</p>
                       </div>
                       <div class="clearfix"></div>
                     </div>

                     <div class="sitem">
                       <div class="onethree-left">
                         <a href="single-item.html"><img src="img/items/4.png" alt="" class="img-responsive"/></a>
                       </div>
                       <div class="onethree-right">
                         <a href="single-item.html">Nokia One V</a>
                         <p>Aenean ullamcorper justo tincidunt justo aliquet.</p>
                         <p class="bold">$159</p>
                       </div>
                       <div class="clearfix"></div>
                     </div>

                     <div class="sitem">
                       <div class="onethree-left">
                         <a href="single-item.html"><img src="img/items/5.png" alt="" class="img-responsive"/></a>
                       </div>
                       <div class="onethree-right">
                         <a href="single-item.html">Samsung One V</a>
                         <p>Aenean ullamcorper justo tincidunt justo aliquet.</p>
                         <p class="bold">$299</p>
                       </div>
                       <div class="clearfix"></div>
                     </div>
                                             
                   </div>
               </div>
            </div>
            
            <div class="sep-bor"></div>
         </div>
      </div>
     
      
      <!-- Recent posts Starts -->
  
      <div class="recent-posts blocky">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <!-- Section title -->
                  <div class="section-title">
                     <h4><i class="fa fa-desktop color"></i> &nbsp;Whats New</h4>
                  </div>    
                  
          <div id="item-carousel" class="carousel slide" data-ride="carousel">
              
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <div class="row">
                <div class="col-md-3 col-sm-6">
                  <!-- single item -->
                  <div class="s-item">
                    <!-- Image link -->
                    <a href="single-item.html">
                      <img src="img/items/2.png" class="img-responsive" alt="" />
                    </a>
                    <!-- portfolio caption -->
                    <div class="s-caption">
                      <!-- heading and paragraph -->
                      <h4><a href="#">Finibus Bonorum</a></h4>
                      <p>Clintock, a Lat Hampden-Sydney College in Virginia.</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-sm-6">
                  <div class="s-item">
                    <a href="single-item.html">
                      <img src="img/items/3.png" class="img-responsive" alt="" />
                    </a>
                    <div class="s-caption">
                      <h4><a href="#">Finibus Bonorum</a></h4>
                      <p>Clintock, a Lat Hampden-Sydney College in Virginia.</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-sm-6">
                  <div class="s-item">
                    <a href="single-item.html">
                      <img src="img/items/4.png" class="img-responsive" alt="" />
                    </a>
                    <div class="s-caption">
                      <h4><a href="#">Finibus Bonorum</a></h4>
                      <p>Clintock, a Lat Hampden-Sydney College in Virginia.</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-sm-6">
                  <div class="s-item">
                    <a href="single-item.html">
                      <img src="img/items/5.png" class="img-responsive" alt="" />
                    </a>
                    <div class="s-caption">
                      <h4><a href="#">Finibus Bonorum</a></h4>
                      <p>Clintock, a Lat Hampden-Sydney College in Virginia.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="row">
                <div class="col-md-3 col-sm-6">
                  <div class="s-item">
                    <a href="single-item.html">
                      <img src="img/items/6.png" class="img-responsive" alt="" />
                    </a>
                    <div class="s-caption">
                      <h4><a href="#">Finibus Bonorum</a></h4>
                      <p>Clintock, a Lat Hampden-Sydney College in Virginia.</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-sm-6">
                  <div class="s-item">
                    <a href="single-item.html">
                      <img src="img/items/7.png" class="img-responsive" alt="" />
                    </a>
                    <div class="s-caption">
                      <h4><a href="#">Finibus Bonorum</a></h4>
                      <p>Clintock, a Lat Hampden-Sydney College in Virginia.</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-sm-6">
                  <div class="s-item">
                    <a href="single-item.html">
                      <img src="img/items/8.png" class="img-responsive" alt="" />
                    </a>
                    <div class="s-caption">
                      <h4><a href="#">Finibus Bonorum</a></h4>
                      <p>Clintock, a Lat Hampden-Sydney College in Virginia.</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-sm-6">
                  <div class="s-item">
                    <a href="single-item.html">
                      <img src="img/items/9.png" class="img-responsive" alt="" />
                    </a>
                    <div class="s-caption">
                      <h4><a href="#">Finibus Bonorum</a></h4>
                      <p>Clintock, a Lat Hampden-Sydney College in Virginia.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
            <!-- Controls -->
          <a class="left c-control" href="#item-carousel" data-slide="prev">
            <i class="fa fa-chevron-left"></i>
          </a>
          <a class="right c-control" href="#item-carousel" data-slide="next">
            <i class="fa fa-chevron-right"></i>
          </a>

        </div>
          
               </div>
            </div>
         </div>
      </div>
      
      <!-- Recent posts Ends -->    
      
      
      <!-- Catchy starts -->
      <div class="catchy blocky">
         <div class="catchy-inner1">
            <div class="catchy-inner2">
               <div class="container">
                  <div class="row">
                     <div class="col-md-5">
                        <div class="catchy-subscribe">
                           <h3>Join Us!</h3>
                           <p>Lorem tristique est sit amet diam ipsum  dolor sit  diam interdum diam ipsum  dolor sit diam ipsum  dolor sit tristique semper.</p>
                           <br />
                           <form class="form-inline" role="form">
                             <div class="form-group">
                               <input type="text" class="form-control " id="exampleInputEmail2" placeholder="Enter your email">
                             </div>
                             <button type="submit" class="btn btn-danger">Subscribe</button>
                           </form>

                        </div>
                     </div>
                     <div class="col-md-7">
                     
                        <div class="report">
                           <div class="report-bor">
                              <div class="row">
                                 <!-- Report data starts -->
                                 <div class="col-md-4 col-sm-4">
                                    <div class="report-data">
                                       <div class="row">
                                          <div class="col-md-4 col-sm-4 col-xs-4">
                                             <!-- Icon -->
                                             <div class="report-icon">
                                                <i class="fa fa-group color"></i>
                                             </div>
                                          </div>
                                          <div class="col-md-8 col-md-8 col-xs-8">
                                             <!-- Details -->
                                             <span class="report-big color">40,000</span> <span>Customers</span>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <!-- Report data ends -->
                                 
                                 <!-- Report data starts -->
                                 <div class="col-md-4 col-sm-4">
                                    <div class="report-data">
                                       <div class="row">
                                          <div class="col-md-4 col-sm-4 col-xs-4">
                                             <!-- Icon -->
                                             <div class="report-icon">
                                                <i class="fa fa-calendar color"></i>
                                             </div>
                                          </div>
                                          <div class="col-md-8 col-md-8 col-xs-8">
                                             <!-- Details -->
                                              <span>Since</span><span class="report-big color">1857</span>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <!-- Report data ends -->

                                 <!-- Report data starts -->
                                 <div class="col-md-4 col-sm-4">
                                    <div class="report-data">
                                       <div class="row">
                                          <div class="col-md-4 col-sm-4 col-xs-4">
                                             <!-- Icon -->
                                             <div class="report-icon">
                                                <i class="fa fa-android color"></i>
                                             </div>
                                          </div>
                                          <div class="col-md-8 col-md-8 col-xs-8">
                                             <!-- Details -->
                                             <span class="report-big color">30,000</span> <span>Revenue</span>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <!-- Report data ends -->
                                 
                              </div>
                              
                              <hr class="hidden-xs">
                              
                              <div class="row">
                                 
                                 <!-- Report data starts -->
                                 <div class="col-md-4 col-sm-4">
                                    <div class="report-data">
                                       <div class="row">
                                          <div class="col-md-4 col-sm-4 col-xs-4">
                                             <!-- Icon -->
                                             <div class="report-icon">
                                                <i class="fa fa-building-o color"></i>
                                             </div>
                                          </div>
                                          <div class="col-md-8 col-md-8 col-xs-8">
                                             <!-- Details -->
                                             <span class="report-big color">150 +</span> <span>Companies</span>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <!-- Report data ends -->
                                 
                                 <!-- Report data starts -->
                                 <div class="col-md-4 col-sm-4">
                                    <div class="report-data">
                                       <div class="row">
                                          <div class="col-md-4 col-sm-4 col-xs-4">
                                             <!-- Icon -->
                                             <div class="report-icon">
                                                <i class="fa fa-signal color"></i>
                                             </div>
                                          </div>
                                          <div class="col-md-8 col-md-8 col-xs-8">
                                             <!-- Details -->
                                             <span class="report-big color">50.60%</span> <span>Growth</span>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <!-- Report data ends -->

                                 <!-- Report data starts -->
                                 <div class="col-md-4 col-sm-4">
                                    <div class="report-data">
                                       <div class="row">
                                          <div class="col-md-4 col-sm-4 col-xs-4">
                                             <!-- Icon -->
                                             <div class="report-icon">
                                                <i class="fa fa-truck color"></i>
                                             </div>
                                          </div>
                                          <div class="col-md-8 col-md-8 col-xs-8">
                                             <!-- Details -->
                                             <span class="report-big color">100 +</span> <span>Employees</span>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <!-- Report data ends -->
                                 
                              </div>
                              
                           </div>
                        </div> 
                     
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>      
      <!-- Catchy ends -->
      
      <!-- CTA Starts -->
      <div class="blocky">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="cta">
                     <div class="row">
                        <div class="col-md-8 col-sm-8">
                           <h5><i class="fa fa-angle-right"></i> Lorem trist iquest <span class="color">siamet diam</span> ipsum dolor sitamt</h5>
                        </div>
                        <div class="col-md-4 col-sm-4">
                           <div class="cta-buttons pull-right">
                              <a href="#" class="btn btn-info btn-lg">Download</a> &nbsp; <a href="#" class="btn btn-danger btn-lg">Get It Now</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>               
            </div>
         </div>
      </div>
      <!-- CTA Ends -->