<div class="page-title">

  <div class="container">
    <h1 class="modal-title">Verify Deals</h1>
    <p>Click to make changes.</p> <i class="fa fa-gamepad"></i>
    <div ng-app="app">
       <div ng-controller="dealCtrl" ng-init="setup()">
          <table class="table table-striped">
          <th>
            <td>User</td>
            <td>Product ID</td>
            <td>Sale Price</td>
            <td>Sale URL</td>
            <td>Comments</td>
            <td>Status</td>
            <td>See Deal</td>
          </th>
          <tr ng-repeat="deal in deals" ng-model="deals">
            <td></td>
            <td>{{deal.user_id}}</td>
            <td><a href="/products/{{deal.product_id}}">{{deal.product_id}}</a></td>
            <td editable-text="deal.price">{{deal.price | currency:'$'}}</td>
            <td editable-textarea="deal.url">{{deal.url}}</td>
            <td editable-textarea="deal.comment">{{deal.comment}}</td>
            <td editable-text="deal.status">{{ deal.status }}</td>
            <td><a href="{{deal.url}}"><img src="http://i.imgur.com/PpQSV1k.png" target="_tab" class="small"></a></td>
          </tr>

          </table>

    <button ng-click="updateDeals()">Save Changes</button>
    </div>

  </div>


  </div>
</div>
