 <div ng-app="app">
  <div ng-controller="reviewCtrl" ng-init="setup(4373940)">
    <div>
      <h3>Add Review:</h3>
      <div>
        Rating: 
        <label><input type="radio" ng-model="reviewRating" value="1">1</label>
        <label><input type="radio" ng-model="reviewRating" value="2">2</label>
        <label><input type="radio" ng-model="reviewRating" value="3">3</label>
        <label><input type="radio" ng-model="reviewRating" value="4">4</label>
        <label><input type="radio" ng-model="reviewRating" value="5">5</label>
      </div>      
      <div>
        Comments: <input ng-model="reviewComments">
      </div>

      <div>
      </div>

      <button ng-click="addReview(reviewComments, reviewRating)">Submit</button>
    </div>


    
    <div ng-repeat="review in reviews">
      <p>Rating: {{review.rating}}</p>
      <p>Comments: {{review.comments}}</p>
    </div>


  </div>
</div>
<!--       <ul>
        <li class="error-messages" ng-repeat="errorMessage in errorMessages">{{errorMessage}}</li>
      </ul> -->
