
.search_bar {
  margin-top: 20px;
}

.ui-datepicker-header {
   background: #16cbe6;
   border-color: #cccccc;
 }

 .upvotes {
  margin-left: 6px;
 }

 .arrow {
  margin-left: 4%;
  margin-top: 1%;
 }

 // html,body,#page, header { height:100%;}

 footer { margin-top: 50px;}

.spacing {
  margin-top: 50px;
  margin-bottom: 50px;
}