     <!-- Page title -->
      <div class="page-title">
         <div class="container">
            <h2><i class="fa fa-desktop color"></i> My Account <small>Subtext for header</small></h2>
            <hr />
         </div>
      </div>
      <!-- Page title -->
      
      <!-- Page content -->
      
      <div class="account-content">
         <div class="container">
            
            <div class="row">
               <div class="col-md-3">
                  <div class="sidey">
                     <ul class="nav">
<!--                          <li><a href="account.html">My Account</a></li>
 -->                         <li><a href="wishlist.html">Wish List</a></li>
<!--                          <li><a href="editprofile.html">Edit Profile</a></li>
 -->                     </ul>
                  </div>
               </div>

 <div ng-app="app" class="col-md-9">
  <div ng-controller="wishlistCtrl" ng-init="setup()">
    <h3><i class="fa fa-user color"></i> &nbsp;Wish List</h3>

    <table class="table table-striped tcart">
    <% if @wishlists == nil %>
    Wishlist Empty.
    <% else %>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Desired Price</th>
        <th>Delete?</th>
      </tr>

      <tr ng-repeat="wishlist in wishlists">
        <td>{{wishlist.priority}}</td>
        <td>{{wishlist.product_name}}</td>
        <td>{{wishlist.price}}</td>
        <td>Remove?</td>
      </tr>
    </table>
    <% end %>
  </div>
</div>
              
            
            <div class="sep-bor"></div>
         </div>
      </div>
     
      
      <!-- Recent posts Starts -->
  
      <div class="recent-posts blocky">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <!-- Section title -->
                  <div class="section-title">
                     <h4><i class="fa fa-desktop color"></i> &nbsp;Whats New</h4>
                  </div>    
                  
          <div id="item-carousel" class="carousel slide" data-ride="carousel">
              
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <div class="row">
                <div class="col-md-3 col-sm-6">
                  <!-- single item -->
                  <div class="s-item">
                    <!-- Image link -->
                    <a href="single-item.html">
                      <img src="img/items/2.png" class="img-responsive" alt="" />
                    </a>
                    <!-- portfolio caption -->
                    <div class="s-caption">
                      <!-- heading and paragraph -->
                      <h4><a href="#">Finibus Bonorum</a></h4>
                      <p>Clintock, a Lat Hampden-Sydney College in Virginia.</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-sm-6">
                  <div class="s-item">
                    <a href="single-item.html">
                      <img src="img/items/3.png" class="img-responsive" alt="" />
                    </a>
                    <div class="s-caption">
                      <h4><a href="#">Finibus Bonorum</a></h4>
                      <p>Clintock, a Lat Hampden-Sydney College in Virginia.</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-sm-6">
                  <div class="s-item">
                    <a href="single-item.html">
                      <img src="img/items/4.png" class="img-responsive" alt="" />
                    </a>
                    <div class="s-caption">
                      <h4><a href="#">Finibus Bonorum</a></h4>
                      <p>Clintock, a Lat Hampden-Sydney College in Virginia.</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-sm-6">
                  <div class="s-item">
                    <a href="single-item.html">
                      <img src="img/items/5.png" class="img-responsive" alt="" />
                    </a>
                    <div class="s-caption">
                      <h4><a href="#">Finibus Bonorum</a></h4>
                      <p>Clintock, a Lat Hampden-Sydney College in Virginia.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="row">
                <div class="col-md-3 col-sm-6">
                  <div class="s-item">
                    <a href="single-item.html">
                      <img src="img/items/6.png" class="img-responsive" alt="" />
                    </a>
                    <div class="s-caption">
                      <h4><a href="#">Finibus Bonorum</a></h4>
                      <p>Clintock, a Lat Hampden-Sydney College in Virginia.</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-sm-6">
                  <div class="s-item">
                    <a href="single-item.html">
                      <img src="img/items/7.png" class="img-responsive" alt="" />
                    </a>
                    <div class="s-caption">
                      <h4><a href="#">Finibus Bonorum</a></h4>
                      <p>Clintock, a Lat Hampden-Sydney College in Virginia.</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-sm-6">
                  <div class="s-item">
                    <a href="single-item.html">
                      <img src="img/items/8.png" class="img-responsive" alt="" />
                    </a>
                    <div class="s-caption">
                      <h4><a href="#">Finibus Bonorum</a></h4>
                      <p>Clintock, a Lat Hampden-Sydney College in Virginia.</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-sm-6">
                  <div class="s-item">
                    <a href="single-item.html">
                      <img src="img/items/9.png" class="img-responsive" alt="" />
                    </a>
                    <div class="s-caption">
                      <h4><a href="#">Finibus Bonorum</a></h4>
                      <p>Clintock, a Lat Hampden-Sydney College in Virginia.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
            <!-- Controls -->
          <a class="left c-control" href="#item-carousel" data-slide="prev">
            <i class="fa fa-chevron-left"></i>
          </a>
          <a class="right c-control" href="#item-carousel" data-slide="next">
            <i class="fa fa-chevron-right"></i>
          </a>

        </div>
          
               </div>
            </div>
         </div>
      </div>
      
      <!-- Recent posts Ends -->    
      
      
      <!-- Catchy starts -->
      <div class="catchy blocky">
         <div class="catchy-inner1">
            <div class="catchy-inner2">
               <div class="container">
                  <div class="row">
                     <div class="col-md-5">
                        <div class="catchy-subscribe">
                           <h3>Join Us!</h3>
                           <p>Lorem tristique est sit amet diam ipsum  dolor sit  diam interdum diam ipsum  dolor sit diam ipsum  dolor sit tristique semper.</p>
                           <br />
                           <form class="form-inline" role="form">
                             <div class="form-group">
                               <input type="text" class="form-control " id="exampleInputEmail2" placeholder="Enter your email">
                             </div>
                             <button type="submit" class="btn btn-danger">Subscribe</button>
                           </form>

                        </div>
                     </div>
                     <div class="col-md-7">
                     
                        <div class="report">
                           <div class="report-bor">
                              <div class="row">
                                 <!-- Report data starts -->
                                 <div class="col-md-4 col-sm-4">
                                    <div class="report-data">
                                       <div class="row">
                                          <div class="col-md-4 col-sm-4 col-xs-4">
                                             <!-- Icon -->
                                             <div class="report-icon">
                                                <i class="fa fa-group color"></i>
                                             </div>
                                          </div>
                                          <div class="col-md-8 col-md-8 col-xs-8">
                                             <!-- Details -->
                                             <span class="report-big color">40,000</span> <span>Customers</span>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <!-- Report data ends -->
                                 
                                 <!-- Report data starts -->
                                 <div class="col-md-4 col-sm-4">
                                    <div class="report-data">
                                       <div class="row">
                                          <div class="col-md-4 col-sm-4 col-xs-4">
                                             <!-- Icon -->
                                             <div class="report-icon">
                                                <i class="fa fa-calendar color"></i>
                                             </div>
                                          </div>
                                          <div class="col-md-8 col-md-8 col-xs-8">
                                             <!-- Details -->
                                              <span>Since</span><span class="report-big color">1857</span>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <!-- Report data ends -->

                                 <!-- Report data starts -->
                                 <div class="col-md-4 col-sm-4">
                                    <div class="report-data">
                                       <div class="row">
                                          <div class="col-md-4 col-sm-4 col-xs-4">
                                             <!-- Icon -->
                                             <div class="report-icon">
                                                <i class="fa fa-android color"></i>
                                             </div>
                                          </div>
                                          <div class="col-md-8 col-md-8 col-xs-8">
                                             <!-- Details -->
                                             <span class="report-big color">30,000</span> <span>Revenue</span>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <!-- Report data ends -->
                                 
                              </div>
                              
                              <hr class="hidden-xs">
                              
                              <div class="row">
                                 
                                 <!-- Report data starts -->
                                 <div class="col-md-4 col-sm-4">
                                    <div class="report-data">
                                       <div class="row">
                                          <div class="col-md-4 col-sm-4 col-xs-4">
                                             <!-- Icon -->
                                             <div class="report-icon">
                                                <i class="fa fa-building-o color"></i>
                                             </div>
                                          </div>
                                          <div class="col-md-8 col-md-8 col-xs-8">
                                             <!-- Details -->
                                             <span class="report-big color">150 +</span> <span>Companies</span>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <!-- Report data ends -->
                                 
                                 <!-- Report data starts -->
                                 <div class="col-md-4 col-sm-4">
                                    <div class="report-data">
                                       <div class="row">
                                          <div class="col-md-4 col-sm-4 col-xs-4">
                                             <!-- Icon -->
                                             <div class="report-icon">
                                                <i class="fa fa-signal color"></i>
                                             </div>
                                          </div>
                                          <div class="col-md-8 col-md-8 col-xs-8">
                                             <!-- Details -->
                                             <span class="report-big color">50.60%</span> <span>Growth</span>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <!-- Report data ends -->

                                 <!-- Report data starts -->
                                 <div class="col-md-4 col-sm-4">
                                    <div class="report-data">
                                       <div class="row">
                                          <div class="col-md-4 col-sm-4 col-xs-4">
                                             <!-- Icon -->
                                             <div class="report-icon">
                                                <i class="fa fa-truck color"></i>
                                             </div>
                                          </div>
                                          <div class="col-md-8 col-md-8 col-xs-8">
                                             <!-- Details -->
                                             <span class="report-big color">100 +</span> <span>Employees</span>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <!-- Report data ends -->
                                 
                              </div>
                              
                           </div>
                        </div> 
                     
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>      
      <!-- Catchy ends -->
      
      <!-- CTA Starts -->
      <div class="blocky">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="cta">
                     <div class="row">
                        <div class="col-md-8 col-sm-8">
                           <h5><i class="fa fa-angle-right"></i> Lorem trist iquest <span class="color">siamet diam</span> ipsum dolor sitamt</h5>
                        </div>
                        <div class="col-md-4 col-sm-4">
                           <div class="cta-buttons pull-right">
                              <a href="#" class="btn btn-info btn-lg">Download</a> &nbsp; <a href="#" class="btn btn-danger btn-lg">Get It Now</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>               
            </div>
         </div>
      </div>
      <!-- CTA Ends -->
